.btn_primary {
    padding: 15px 85px;
    font-family: var(--font-family-main);
}

.btn_secondary {
    border: 3px solid #77aec3;
}

.btn_primary:hover {
    border: 3px solid #77aec3;
    color: #ffffff;
    background-color: #77aec3;
}
