@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Source+Sans+Pro:wght@300;400&display=swap');

/*Breakpoints
< 480px         xs
  480-768px     sm
  769-1024px    md
  1025-1280px   lg
> 1280px        xl */

:root {
  --color-background: #FFFFFF;
  --color-primary: #f9f9f9;
  --color-secondary: #77aec3;
  /*--color-btn: #33743a;*/

  --color-font-main: #141b0b;
  --color-font-heading: #0c1908;

  --font-family-main: 'Source Sans Pro', sans-serif;
  --font-family-heading: 'Open Sans', sans-serif;
/*
  --font-size-h1-xs: 14px;
  --font-size-h1-sm: 16px;
  --font-size-h1-md: 18px;
  --font-size-h1-lg: 30px;

  --font-size-h2-xs: 14px;
  --font-size-h2-sm: 16px;
  --font-size-h2-md: 18px;
  --font-size-h2-lg: 30px;

  /*--font-size-text-xs:
  --font-size-text-sm:
  --font-size-text-md:
  --font-size-text-lg:*/

  --max-width: 120rem; /*1920px*/
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
*,
*::before,
*::after {
  box-sizing: inherit;
}
*/

html,
body,
textarea,
input {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-main);
}

h1, h2 {
  font-family: var(--font-family-heading);
  color: var(--color-font-heading);
}
h1 {
  font-size: 1.3rem;  
}

h2 {
  font-size: 1rem;
}

p, li {
  font-family: var(--font-family-main);
  color: var(--color-font-main);  
  font-size: 1rem; 
}

footer {
  background-color: var(--color-primary);
  /* margin-top: 20px; */
  padding: 20px;  
}

button, a {
  cursor: pointer;
}

.icon_email {
  width: 35px;
  height: 35px;
  margin-top: -8px;
  margin-left: -2px;
}

.icon_message {
  margin-top: 2.5px;
}

.custom-checkbox {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  display: none;
}

.w-100 {
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #787878;
  opacity: 1; /* Firefox */
}