.stick {
  position: sticky;
  top: 0;
  z-index: 4;
}

.footer_line {
  position: relative;
}

.footer_line ::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  bottom: 0px;
  right: 0px;
  border-top: 1px solid #707070;
  transform: translateY(50%);
}

.footer_line::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 3;
  width: 1px;
  height: 1px;
  background-color: #707070;
  border: 2px solid #707070;
  border-radius: 50%;
  bottom: 0.25px;
  right: 50%;
  transform: translateY(50%);
}

.menu {
  /* display: block; */
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu span {
  position: absolute;
  top: calc(50% - 2px);
  left: 5px;
  right: 5px;
  height: 5px;
  background-color: currentColor;
  transition-property: opacity, transform;
  transition-duration: 0.2s;
}

.menu span:nth-child(1) {
  transform: translateY(-250%);
}

.menu span:nth-child(3) {
  transform: translateY(250%);
}

.menu_open span:nth-child(2) {
  opacity: 0;
}

.menu_open span:nth-child(1) {
  transform: rotate(45deg);
}

.menu_open span:nth-child(3) {
  transform: rotate(-45deg);
}

.link a {
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-family-heading);
  color: var(--color-font-heading);
  font-size: 1.5rem;
  display: inline-block;
  padding: 1rem 1rem;
}

@media screen and (max-width: 768px) {
  .menu::before {
    display: none;
  }
  .mobileNavigation::before {
    display: none;
  }
  .footer_line::before {
    display: none;
  }
  .footer_line::after {
    display: none;
  }

  .stick {
    position: initial;
  }
  .navigation {
    display: none;
  }

  .link a:hover {
    color: var(--color-secondary);
  }
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .nav_wrapper {
    display: block;
    background-color: #f9f9f9;
    position: sticky;
    z-index: 2;    
  }

  .nav {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    font-size: 2rem;
  }

  .mobileNavigation {
    display: none;
  }

  .link {
    display: inline-block;
  }

  .link a {
    font-size: 1.05rem;
    display: inline-block;
    padding: 1.2rem 2rem;
    transition: all 0.7s ease-in-out;
    font-weight: bold;
  }

  .link a:hover,
  .link a:active {
    background-color: #77aec3;
    color: black;
  }

  .link_active a {
    color: #77aec3;
  }
}
