/* HERO */
.hero__wrap {
  position: relative;
  height: "33.33vw";
  margin: auto;
}
.hero {
  position: relative;
}
.hero__img {
  max-height: 800px;
}
/*nelimituje vysku obrazku - nevim, kde se to nastavuje*/

.hero__text {
  position: absolute;
  bottom: 1.25rem;
  right: calc(20% - 20px);
  font-size: 0.625rem;
}
.hero__headline {
  position: absolute;
  top: calc(20% - 20px);
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  text-align: center;
}

.popup {
  background-color: rgb(254, 252, 240, 0.5);
  border-radius: 5px;
  max-width: 200px;
  padding: 10px 40px;
  position: absolute;
  bottom: 20px;
  left: calc(20% - 20px);
}
.popup h2 {
  font-size: 10px;
}

@media screen and (max-width: 480px) {
  .hero__text, .popup {
    display: none;
  }
}  


/* CONTENT*/
.content__block1,
.content__block4 {
  background-color: var(--color-primary);
}
.content__block1 {
  box-shadow: 2px 2px 10px #00000029;
}
.content__block3,
.content__block4 {
  box-shadow: 2px 2px 10px 5px #00000029;
}

.content__block3 {
  background-color: var(--color-secondary);
  border-radius: 2rem;
  /*border: solid 2px grey;*/
  text-align: center;
  margin: 0 20px 0 20px;
}

.content__block1 h2,
.content__block4 h2,
.content__block3 h2 {
  margin-bottom: 1rem;
  text-align: center;
  /*font-size: 1.125rem;*/
}
.content__block1 h2 {
  margin: 0;
}

.content__block1,
.content__block2,
.content__block4,
.content__block3 {
  margin-bottom: 1.2rem;
  padding: 2rem;
}

.content__block2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.content__block2 h2 {
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}
.content__block2 ul {
  list-style: none;
  padding-left: 20px;
  font-family: var(--font-family-heading);
  /*font-size: 12px;*/
}
.content__block2 li {
  line-height: 2.4;
  /*font-size: 1rem;
  font-family: var(--font-family-heading);*/
}

.content__block2 li:not(:nth-of-type(5n + 1))::before {
  content: "▶";
  color: grey;
  font-size: 0.6rem;
  margin-right: 0.5rem;
  vertical-align: 10%;
  /* zapis hore zoberie kazdy 5. item zacinajuc prvym , not to zneguje  */
}
.content__block2 .mainitem {
  list-style: none;
  font-weight: bolder;
}
/*
.content__block2 .secondaryitem {
  margin-left: 0;
}*/
.content__block4_flex {
  display: block;
  max-width: 80%;
  margin: auto;
}
.content__block4 p {
  text-align: center;
}
.content__block4_flex .boldfont {
  font-weight: bold;
}
.content__block4_flex .italicfont {
  font-style: italic;
}
/*
.content__block3 h2,
.content__block3 p {
  text-align: left;
  font-size: 1.25rem;
}*/
.content__block3 p {
  text-align: justify;
  margin-bottom: 1rem;
}
.profile {
  width: 160px;
  height: 160px;
  margin: 0 20px 20px 20px;
  border: 1px solid #707070;
  border-radius: 50%;
}
@media screen and (min-width: 350px) {
  .popup {
    display: none;
  }
  .hero__text {
    display: none;
  }
}
@media screen and (min-width: 480px) {
  .content__block2 {
    width: fit-content;
    margin: auto;
  }
  .content__block3 {
    width: 70%;
    margin: auto auto 2rem;
  }
}
@media screen and (min-width: 680px) {
  .hero__headline {
    font-size: 1.4rem;
  }
  .content__block1 h2 {
    font-size: 1.2rem;
  }
  .content_wrap_block2and3 {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }
  .content__block2 {
    max-width: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 1rem;
  }
  .content__block2 li {
    /*font-size: 0.8rem;*/
    line-height: 2;
  }
  .content__block3 {
    max-width: 70%;
    flex-shrink: 0;
    z-index: 2;
    flex-grow: 1;
    margin: 1rem 1rem 3rem;
  }
  .profile {
    width: 140px;
    height: 140px;
  }
  /*
  .content__block4_flex {
    max-width: 50%;
    align-self: flex-start;
    flex-grow: 1;
  }
 */
  .content__block4 h2 {
    font-family: var(--font-family-heading);
  }
  .content__block4 {
    margin-bottom: 6rem;
  }
}

@media screen and (min-width: 769px) {
  .hero__headline {
    top: calc(20% - 20px);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /*font-size: 1.2rem;*/
  }
  .popup {
    border-radius: 5px;
    max-width: 200px;
    padding: 5px 20px;
    bottom: 20px;
  }
  .popup h2 {
    font-size: 0.8rem;
  }
  .hero__text {
    font-size: 0.8rem;
    bottom: 1.25rem;
  }
  .content_wrap_block2and3 {
    padding-left: 3.125px;
    padding-right: 3.125px;
  }
  .content__block3 {
    max-width: 50%;
    flex-shrink: 0;
    z-index: 2;
    flex-grow: 1;
    margin: 1rem 1rem 3rem 5rem;
  }
  .content__block4 p {
    /*font-size: 0.9rem;*/
    line-height: 1.25;
  }
  /*
  .content__block2 li {
    font-size: 0.9rem;
  }
  .content__block3 p {
    font-size: 1rem;
  }
  .content__block3 h2 {
    font-size: 1.1rem;
  }
  .content__block4 h2 {
    font-size: 1.1rem;
  }
  .content__block2 h2 {
    font-size: 1.1rem;
  }*/
}

@media screen and (min-width: 1024px) {
  .popup {
    display: initial;
  }
  .hero__text {
    display: initial;
  }
  .profile {
    width: 160px;
    height: 160px;
  }
  .content__block3 {
    max-width: 35%;
    flex-shrink: 0;
    flex-grow: 1;
    z-index: 2;  
    margin: 20px 10% -50px 0;
  }
  .content__block4_text {
    display: block;
    max-width: 1250px;
    margin: auto;
  }
  .content__block4_flex {
    max-width: 50%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .hero__headline {
    font-size: 1.8rem;
    top: calc(17% - 20px);
  }
  .content__block2 h2 {
    text-align: center;
  }
  .content__block2 .mainitem {
    list-style: none;
    font-weight: bolder;   
  }  
  .content__block2 .secondaryitem {
    margin-left: 2rem;
  }
  /*
  .content__block4 p {
    line-height: 1.5;
    font-size: 1rem;
  }
  .content__block3 h2 {
    font-size: 1.2rem;
  }
  .content__block4 h2 {
    font-size: 1.2rem;
  }
  .content__block2 h2 {
    font-size: 1.2rem;
  }
  .content__block3 {
    max-width: 40%;
    flex-shrink: 0;
    z-index: 2;
    flex-grow: 1;
    margin: 20px 0 -50px 0;
  }
  .content__block3 p {
    line-height: 1.55;
  }
  .content__block4 h2 {
    font-size: 1.2rem;
  }
  .content__block1 h2 {
    font-size: 1.2rem;
  }
  .hero__headline {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 1.5rem;
  }
  .popup {
    border-radius: 5px;
    max-width: 200px;
    padding: 7px 25px;
    bottom: 30px;
  }
  .popup h2 {
    font-size: 1rem;
  }
  .hero__text {
    font-size: 1rem;
    bottom: 30px;
  }
  .content__block2 li {
    font-size: 1rem;
  }
  .content__block2 h2 {
    font-size: 1.2rem;
  }
  .content__block4 h2 {
    font-size: 1.2rem;
  }*/
}

@media screen and (min-width: 1920px) {
  .content_wrap_block2and3 {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  } 
}

/*REVIEW*/
