
/* HERO */
.hero__wrap {
position: relative;
height: '33.33vw';
width: '100vw';
}

.hero {
  position: relative;
}

.hero__text {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 10px;
}

.hero__headline {
  position: absolute;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.popup {
background-color: rgb(254,252,240,0.5);
border-radius: 5px;
max-width: 200px;
padding: 5px;
position: absolute;
bottom: 10px;
left: 20px;
}
.popup h2 {
  font-size: 10px;
}

/* CONTENT*/

.content {
  display: flex;
  flex-direction: column;
}

.content__block1, .content__block3 {
  background-color: var(--color-primary);
}
.content__block1 {
  box-shadow: 2px 2px 10px #00000029;
}
.content__block3, .content__block4 {
  box-shadow: 2px 2px 10px 5px #00000029;
}

.content__block4 {
  background-color: var(--color-secondary);
  max-width: 80%;
  align-self: center;
  border-radius: 20px;
  
}

.content__block1  h2, .content__block2  h2,
.content__block3  h2, .content__block4 h2{
  text-align: center;
  padding: 1.2rem;
}
.content__block1, .content__block2,
.content__block3, .content__block4 {
  margin-bottom: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.content__block2 ul {
  padding-left: 20px;
  font-family: var(--font-family-heading);
  font-size: 12px;
}
.content__block3 p {
  text-align: center;
}

@media screen and (min-width: 481px)  {
  .content__block4 {
    max-width: 60%;
  }
  .popup h2 {
    font-size: 14px;
  }
  .hero__text {
    font-size: 12px;
  }
}

@media screen and (min-width: 481px)  {
  .popup h2 {
    font-size: 16px;
  }
  .hero__text {
    font-size: 14px;
  }
  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content__block1 {
    width: 100%;
    order: -3;
  }
  .content__block2 {
    max-width: 50%;
    order: -2;
    align-self: left;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .content__block3 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .content__block4 {
    max-width: 50%;
    order: -1;
    align-self: right;
    flex-shrink: 0;
    margin-bottom: -50px;
    z-index: 2;
    flex-grow: 1;
  }
  .content__block3_flex {
    max-width: 50%;
    align-self: flex-start;
    flex-grow: 1;
    
  }
}

/*REVIEW*/