@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Oriya&display=swap");

.content {
  width: 100vw;
  height: auto;
}
.content li {
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
.content h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.content p {
  margin-bottom: 1.6rem;
}

.content__block1 {
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  padding-bottom: 5rem;
}
.content__box {
  flex: 0 1 auto;
  position: relative;
  width: 80%;
  background-color: var(--color-primary);
  border-radius: 2rem;
  padding: 1.5rem 4rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
}
@media (max-width: 768px) {
  .content__box {
    padding: 0.8rem 3rem 0.8rem;
  }
}

.content__block2 {
  background-color: var(--color-primary);
  box-shadow: 2px 2px 10px #00000029;
  margin-bottom: 10px;
  display: flex;
}
.content__block2 h1 {
  margin: 2rem auto 2rem;
}

.content__block3 {
  background-color: var(--color-background);
  box-shadow: 2px 2px 10px #00000029;
  margin-bottom: 10px;
}
.card_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1836px;
  margin: auto;
  justify-content: center;
}
.card {
  background-color: var(--color-primary);
  border: solid 3px var(--color-secondary);
  border-radius: 2rem;
  box-shadow: 2px 2px 10px #00000029;
  width: 492px;
  
  flex: 0 1 auto;
  margin: 45px;
  padding: 30px;  
}
.card h2 {  
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}


@media (max-width: 480px) {
  .card {
    margin: 15px 30px;
  }
  .card:nth-child(1) {
    margin-top: 30px;
  }
  .card:nth-child(5) {
    margin-bottom: 30px;
  }
  .card h2 {
    font-size: 1.5rem;
  }
  .card li {
    font-size: 1.2rem;
  }
  .card_number {
    width: 3rem;
    height: 3rem;
    font-size: 1.8rem;
  }
}

.content__block4 {
  background-color: var(--color-primary); 
  border: solid 3px var(--color-secondary); 
  margin-bottom: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .content__block4 {
    padding: 1.5rem 3rem 1.5rem;
    text-align: center;
  }
}
