.content {
  width: 100%;
  height: auto;
}

.content__block1,
.content__block3,
.content__block5 {
  padding: 2rem 0;
  box-shadow: 2px 2px 10px #00000029;
  background-color: var(--color-primary);
}

.content__block1 h2,
.content__block2 h2,
.content__block3 h2,
.content__block5 h2 {
  text-align: center;
  font-family: var(--font-family-heading);
  font-size: 1.25rem;
}

.content__block2 p,
.content__block4 p {
  font-size: 1rem;
  font-weight: bold;
}
.content__block6 li {
  font-size: 1.1rem;
}

.content__block2 h2 {
  margin-bottom: 20px;
  margin-top: 30px;
}

.content__block2_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}

.content__block2_timeline {
  width: 90%;
  height: auto;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
  margin-bottom: 40px;
}

.content__block2_timeline ul {
  list-style: none;
}

.content__block2_timelineContent p span {
  color: var(--color-secondary);
}

.content__block2_timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 97.5%;
  background-color: #707070;
}
.content__block2_timeline ul li {
  width: 50%;
  position: relative;
  margin-bottom: 20px;
}
.content__block2_timeline ul li:nth-child(odd) {
  float: right;
  clear: left;
  transform: translateX(30px);
  text-align: left;
}
.content__block2_timeline ul li:nth-child(even) {
  float: left;
  clear: right;
  transform: translateX(-30px);
  text-align: right;
}
.content__block2_timeline ul li::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #707070;
  background-color: white;
  top: 0px;
}
.content__block2_timeline ul li:nth-child(odd)::before {
  transform: translate(-50%, 50%);
  left: -30px;
}
.content__block2_timeline ul li:nth-child(even)::before {
  transform: translate(50%, 50%);
  right: -30px;
}

.content__block4_box p {
  font-family: var(--font-family-heading);
}

.content__block4_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 6.125rem;
}

.content__block4_flex > :nth-child(odd) {
  margin-top: -0.75rem;
}

.content__block4_box p {
  text-align: center;
  line-height: 40px;
}

.content__block4_box {
  margin: 1.25rem;
}

.content__block6_flex {
  display: flex;
  justify-content: space-evenly;
}

.content__block6 {
  padding: 5rem 0;
  padding-bottom: 3.5rem;
}

.content__block6_card {
  display: flex;
  flex-grow: 1;
  max-width: 38rem;
  max-height: 28rem;
  border-radius: 49px;
  border: 5px solid var(--color-secondary);
  overflow: hidden;
}

.content__block6_card li {
  text-align: left;
  font-family: var(--font-family-heading);
}

.content__block6_card ul {
  /* list-style-image: url("/src/arrow.svg"); */
  position: relative;
  padding: 0 0.625rem;
  line-height: 55px;
  align-self: center;
  margin: 0 auto;
}

.boximagecontainer {
  width: 20rem;
  height: 15rem;
  border-radius: 49px;
  border: 3px solid #707070;
  overflow: hidden;
  margin: 0 auto;
}

/* IMAGES */

.cardimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.boximage {
  width: 100%;
  height: 115%;
  object-fit: cover;
  display: block;
}
.cardicon {
  width: 6px;
  height: auto;
  margin-right: 4px;
  margin-bottom: -2px;
}

@media screen and (max-width: 1700px) {
  .boximagecontainer {
    width: 19rem;
    height: 14rem;
  }
  .content__block4_flex {
    padding: 4rem 5rem;
  }
}
@media screen and (max-width: 1600px) {
  .boximagecontainer {
    width: 18rem;
    height: 13rem;
  }
  .content__block4_flex {
    padding: 4rem 4rem;
  }
}
@media screen and (max-width: 1500px) {
  .content__block6_card li {
    font-size: 0.9rem;
  }
  .content__block6_card ul {
    /* list-style-image: url("/src/arrow.svg"); */
    padding: 0 0.625rem;
    line-height: 45px;
  }
  .content__block6 {
    padding: 5rem 0;
    padding-bottom: 3.5rem;
  }

  .content__block6_card {
    display: flex;
    flex-grow: 1;
    max-width: 31rem;
    max-height: 21rem;
  }
  .content__block4_box p {
    font-size: 0.8rem;
    line-height: 25px;
  }
  .boximagecontainer {
    width: 16rem;
    height: 11rem;
    border-radius: 35px;
  }
  .content__block4_flex {
    padding: 4rem 4rem;
  }
}
@media screen and (max-width: 1350px) {
  .content__block4_box p {
    font-size: 0.8rem;
  }
  .boximagecontainer {
    width: 15rem;
    height: 10rem;
  }
  .content__block4_flex {
    padding: 4rem 3rem;
  }
}
@media screen and (max-width: 1250px) {
  .cardicon {
    width: 3.5px;
    height: auto;
    margin-right: 4px;
    margin-bottom: 0;
  }
  .content__block6_card li {
    font-size: 0.8rem;
  }
  .content__block6_card ul {
    /* list-style-image: url("/src/arrow.svg"); */
    padding: 0 0.625rem;
    line-height: 35px;
  }
  .content__block6 {
    padding: 5rem 0;
    padding-bottom: 3.5rem;
  }

  .content__block6_card {
    display: flex;
    flex-grow: 1;
    max-width: 25rem;
    max-height: 17rem;
    border-radius: 30px;
    border-width: 3px;
  }
  .content__block4_box p {
    font-size: 0.8rem;
  }
  .boximagecontainer {
    width: 14rem;
    height: 9rem;
  }
  .content__block4_flex {
    padding: 3.5rem 2.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .content__block4_box p {
    font-size: 0.7rem;
  }
  .boximagecontainer {
    width: 13rem;
    height: 8rem;
  }
  .content__block4_flex {
    padding: 3.5rem 2rem;
  }
}
@media screen and (max-width: 1080px) {
  .content__block4_box p {
    font-size: 0.7rem;
  }
  .boximagecontainer {
    width: 12rem;
    height: 7rem;
    border-radius: 25px;
  }
  .content__block4_flex {
    padding: 3.5rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .cardicon {
    width: 3.5px;
    height: auto;
    margin-right: 4px;
    margin-bottom: 0;
  }
  .content__block6_card li {
    font-size: 0.7rem;
  }
  .content__block6_card ul {
    /* list-style-image: url("/src/arrow.svg"); */
    padding: 0 0.625rem;
    line-height: 25px;
  }
  .content__block6 {
    padding: 3rem 0;
    padding-bottom: 2rem;
  }

  .content__block6_card {
    display: flex;
    flex-grow: 1;
    flex-basis: 50%;
    max-width: 21rem;
    max-height: 13rem;
    border-radius: 20px;
    border-width: 3px;
  }
  .content__block4_box p {
    font-size: 0.6rem;
    font-weight: lighter;
  }
  .boximagecontainer {
    width: 10rem;
    height: 6rem;
    border-radius: 25px;
  }
  .content__block4_flex {
    padding: 3.5rem 2rem;
  }
}
@media screen and (max-width: 870px) {
  .content__block4_box p {
    font-size: 0.6rem;
  }
  .boximagecontainer {
    width: 9rem;
    height: 6rem;
    border-radius: 20px;
  }
  .content__block4_flex {
    padding: 2.5rem 2rem;
  }
}
@media screen and (max-width: 825px) {
  .cardicon {
    width: 3.5px;
    height: auto;
    margin-right: 4px;
    margin-bottom: 0;
  }
  .content__block6_card ul {
    line-height: 25px;
    padding: 3rem 0.625rem;
  }
  .content__block6_card li {
    font-size: 0.8rem;
  }
  .content__block6 {
    padding: 3rem 2rem;
    padding-bottom: 2rem;
  }
  .content__block6_flex {
    flex-direction: column;
    align-content: space-around;
  }

  .content__block6_card {
    display: flex;
    align-self: center;
    width: 23rem;
    height: 15rem;
    border-radius: 20px;
    border-width: 3px;
  }
  .content__block6_card:nth-child(odd) {
    margin-bottom: 2.5rem;
  }
  .content__block4_flex {
    justify-content: space-evenly;
  }
  .content__block4_box p {
    font-size: 0.8rem;
  }
  .boximagecontainer {
    width: 15rem;
    height: 10rem;
    border-radius: 30px;
  }
  .content__block4_flex {
    padding: 2.5rem 2rem;
  }
}
@media screen and (max-width: 700px) {
  .content__block6_card ul {
    line-height: 25px;
    padding: 3rem 0.625rem;
  }
  .content__block6_card li {
    font-size: 0.8rem;
  }
  .content__block4_box p {
    font-size: 0.7rem;
  }
  .boximagecontainer {
    width: 12rem;
    height: 8rem;
    border-radius: 30px;
  }
  .content__block4_flex {
    padding: 2.5rem 2rem;
  }
}
@media screen and (max-width: 530px) {
  .content__block4_flex {
    justify-content: center;
  }
  .content__block4_flex > :nth-child(even) {
    margin-top: 1rem;
  }
  .content__block4_flex > :nth-child(odd) {
    margin-top: 1rem;
  }
  .content__block4_box p {
    font-size: 0.9rem;
  }
  .boximagecontainer {
    width: 16rem;
    height: 11rem;
    border-radius: 30px;
  }
  .content__block4_flex {
    padding: 2.5rem 0;
  }
}

@media screen and (max-width: 480px) {
  .content__block4_flex > :nth-child(even) {
    margin-top: 1.5rem;
  }
  .content__block4_flex > :nth-child(odd) {
    margin-top: 1.5rem;
  }
  .content__block4_box p {
    font-size: 0.9rem;
  }

  .content__block2_timeline ul li:nth-child(odd) {
    transform: translateX(15px);
  }
  .content__block2_timeline ul li:nth-child(even) {
    transform: translateX(-15px);
  }

  .content__block2_timeline ul li:nth-child(odd)::before {
    transform: translate(-50%, 50%);
    left: -15px;
  }
  .content__block2_timeline ul li:nth-child(even)::before {
    transform: translate(50%, 50%);
    right: -15px;
  }
}
